body {
    background-color: #393E46;
}
#body {
    background-size: 50%;
}
.heading1 h1 {
    color: red;
    font-size: 100px;
    font-family: 'Lobster', cursive;
    text-align: center;
    text-shadow: 0px 0px 30px rgb(255, 68, 0);
    animation-name: head1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    position: relative;
    animation-iteration-count: infinite;


}
#result {
    font-family: 'Lobster', cursive;
    text-align: center;
    color: rgb(32, 255, 32);
    font-size: 64px;



}
@keyframes head1 {
    0%{
        text-shadow: 0px 0px 30px rgb(255, 68, 0);
       


    }
    50% {
        text-shadow: 0px 0px 80px rgb(255, 68, 0);
        

    }
    100% {
        text-shadow: 0px 0px 30px rgb(255, 68, 0);
      

    }
    
}

.images img {
    height: 450px;
    margin-left: 85px;
    margin-top: 50px;
    box-shadow: 0px 0px 100px 15px orange;
    border-radius: 50px;
    animation-name: image;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    transition-duration: 0.5s;
    

}
.dice:hover {
    height: 480px;

}

@keyframes image {
    0%{
        box-shadow: 0px 0px 50px 15px orange;
       


    }
    50% {
        box-shadow: 0px 0px 100px 15px orange;
        
    }
    100% {
        box-shadow: 0px 0px 50px 15px orange;
       

    }
    
}
.player h1 {
    color:rgb(16, 212, 26);
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    text-align: center;  
    margin-top: 95px;
    font-weight: 900;


}
footer {
    color:red;
    font-size: 50px;
    font-family: 'Indie Flower', cursive;
    text-align: center;  
    margin-top: 110px;
    font-weight: 900;




}

